#philo {
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 10px;
    text-align: center;
    /* margin-top: 100px; */
}

#content {
    margin-left: 35px;
}

#philo .philo {
    width: 400px;
    height: 600px;
    border-radius: 30px;
    box-shadow: 0 5px 5px 8px rgba(0, 0, 0, 0.2);
}

#philo .philo img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#content p {
    text-align: justify;
    font-size: 120%;
    border-right: 4px solid #79a7d3;
    padding-right: 50px;
}

#philo h2 {
    margin-bottom: 20px;
    font-size: 360%;
    border-bottom: 4px solid #79a7d3;
    display: inline-block;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

@media (max-width: 1295px) {
    #content {
        min-height: 518px;
        min-width: 348px;
    }

    #picture img {
        margin-left: 50px;
    }
}

@media (max-width: 950px) {
    #content {
        font-size: 80%;
    }

    #picture {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}