#apropos {
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 70px;
}

#content {
    margin-left: 35px;
}

#apropos .apropos {
    width: 400px;
    height: 600px;
    border-radius: 30px;
    box-shadow: 0 5px 5px 8px rgba(0, 0, 0, 0.2);
}

#content p {
    text-align: justify;
    font-size: 120%;
    border-right: 4px solid #79a7d3;
    padding-right: 50px;
}

#content h2 {
    font-size: 360%;
    border-bottom: 4px solid #79a7d3;
    width: 50%;
    padding-bottom: 50px;
    margin-bottom: 50px;
}