#carousel {
    height: 60vw;
    overflow: hidden; 
}

.centre-item {
    width: 100%;
}

.image {
    width: 100%;
    height: auto; 
    /* object-fit: contain; */
    display: block;
    object-fit: cover;
    object-position: center;
    max-height: 700px;

}

@media (max-width: 990px) {
    .image {
        display: none;
    }
}