#informations {
    text-align: center;
    margin-top: 100px;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#informations h2 {
    margin-bottom: 20px;
    font-size: 360%;
    border-bottom: 4px solid #79a7d3;
    display: inline-block;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

#informations svg {
    color: #000000;
}

#informations .wheel {
    width: 25px;
    height: 25px;
}

#gauche_contact p,
#gauche_contact svg,
#gauche_contact a {
    display: block;
    margin: 10px auto;
}

#gauche_contact {
    margin: 100px;
}

#gauche_contact svg {
    margin-bottom: 10px;
}

.horaires {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.horaires ul {
    list-style-type: none;
    padding: 0;
}

.horaires li {
    margin: 5px 0;
}

#gauche_contact iframe {
    flex: 1;
    border-radius: 30px; 
    border: 10px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 60%;
    height: 500px; 
    overflow: hidden;
}

#gauche_contact .iframe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#gauche_contact .first {
    margin-right: 25px;
}

#gauche_contact .second {
    margin-left: 25px;
}

.informations {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 5px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 30px;
    margin: 5%;
}

#contact_infos {
    width: 700px;
}

.contactme {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contactme label {
    margin-top: 10px;
    color: #000000;
}

.contactme-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-submit-btn {
    background-color: #aa5ba1;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

#message {
    height: 150px;
}

.contact-submit-btn:hover {
    background-color: #83547d;
}

input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

#check {
    margin-top: 1px;
}

#check label {
    font-size: 0.8vw;
}


.facebook-button button {
    background-color: #aa5ba1; /* Couleur bleu Facebook */
    color: white; /* Texte blanc */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.facebook-button button:hover {
    background-color: #83547d; /* Couleur plus foncée au survol */
}

.facebook-button button:active {
    background-color: #83547d; /* Couleur encore plus foncée lorsqu'il est actif */
    transform: scale(0.98); /* Légère réduction de taille au clic */
}

@media (max-width: 1300px) {
    #contact {
        flex-direction: column;
        align-items: center;
    }

    #check label {
        font-size: 15px;
    }
    
    #gauche_contact {
        width: 80%;
    }
}

@media (max-width: 750px) {
    #contact_infos {
        width: 80%;
    } 
}

@media (max-width: 900px) {
    #gauche_contact .iframe {
        flex-direction: column;
        align-items: center;
        height: 700px;
    }

    #gauche_contact .iframe iframe {
        margin: 10px 0;
        width: 100%;
    }
}