    ul {
        margin: 0px;
        padding: 0px;
    }
    .footer-section {
    background: #424040;
    position: relative;
    }
    .footer-cta {
    border-bottom: 1px solid #373636;
    }
    .cta-text {
    padding-left: 15px;
    display: inline-block;
    }
    .cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
    }
    .cta-text span {
    color: #a19d9d;
    font-size: 15px;
    }
    .footer-content {
    position: relative;
    z-index: 2;
    background-color: #424040;
    }
    .footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
    }
    .footer-logo {
    margin-bottom: 30px;
    }

    .footer-logo h4 {
        color: #fff;
    }
    .footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #a19d9d;
    line-height: 28px;
    }
    
    .footer-widget-heading h3 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
    }
    .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #8a307f;
    }
    .footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
    }
    .footer-widget ul li a:hover{
    color: #ab7aa4;
    }
    .footer-widget ul li a {
    color: #a19d9d;
    text-transform: capitalize;
    }
    
    .copyright-area{
    background: #424040;
    padding: 25px 0;
    }
    .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #a19d9d;
    }
    .copyright-text p {
    color: #ab7aa4;
    }
    .footer-menu li {
    display: inline-block;
    margin-left: 20px;
    }
    .footer-menu li:hover a{
    color: #ab7aa4;
    }
    .footer-menu li a {
    font-size: 14px;
    color: #a19d9d;
    }