#all_content_holiday {
    display: flex;
    flex-direction: column; /* Organise les éléments verticalement */
    align-items: center;    /* Centre les éléments horizontalement */
    text-align: center;     /* Aligne le texte au centre */
    margin: 20px auto;
    width: 80%;             /* Ajustez la largeur selon vos besoins */
}

#holiday_title {
    margin-bottom: 10px;
    font-size: 360%;
    border-bottom: 4px solid #79a7d3;
    display: inline-block;
    padding-bottom: 30px;
    margin-bottom: 4%;
    margin-top: 100px;
    color: #aa5ba1;
}

#horaires_holiday ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    font-size: 1.2rem;
    line-height: 1.2;
    font-size: bold;
}

#picture_holiday {
    margin-top: 20px;
}

#picture_holiday img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    box-shadow: 0 5px 5px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 500px) {
    #picture_holiday img {
        display: none;
    }
}