#entreprise {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding: 50px;
}
#entreprise a{
    margin: 0 15px;
}
#entreprise h1{
    margin: 0;
}

#entreprise nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    /* padding-right: 50px; */
}

#entreprise .basic{
    border-bottom: 4px solid white;
}

#entreprise .nav-item a{
    color: black;
    font-size: 120%;
    transition: color 0.3 ease;
    text-decoration: none;
    border-bottom: 4px solid white;
}

#entreprise .nav-item .prio{
    background-color: #8a307f;
    border-radius: 10px;
    color: white;
    font-size: 120%;
    /* border-bottom: 4px solid white; */
}

#entreprise .nav-item .prio:hover{
    background-color: #83547d;
}

#entreprise .basic:hover {
    /* background-color: #79a7d3; */
    border-bottom: 4px solid #79a7d3;
    
}

#entreprise .nav-item a:hover{
    
    /* color: white; */
}