.nunito-uniquifier {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

#entreprise {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    padding: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 5px 5px 8px rgba(0, 0, 0, 0.2);
}
#entreprise a{
    margin: 0 15px;
}
#entreprise h1{
    margin: 0;
}

#entreprise nav {
    display: flex;
    justify-content: flex-end;
    /* padding-right: 50px; */
}

#entreprise svg {
    display: none;
}


#entreprise .basic{
    border-bottom: 4px solid white;
}

#entreprise .nav-item a{
    color: black;
    font-size: 120%;
    transition: color 0.3 ease;
    text-decoration: none;
    border-bottom: 4px solid white;
}

#entreprise .nav-item .prio{
    background-color: #8a307f;
    border-radius: 10px;
    color: white;
    font-size: 120%;
    /* border-bottom: 4px solid white; */
}

#entreprise .nav-item .prio:hover{
    background-color: #ab7aa4;
}

#entreprise .basic:hover {
    /* background-color: #79a7d3; */
    border-bottom: 4px solid #79a7d3;
    
}

@media (max-width: 1250px) {
    #entreprise a {
        margin: 0;
    }
}

@media (max-width: 1197px) {

    #entreprise h1{
        font-size: 180%;
    }

    #entreprise a {
        margin: 0;
    }

}

@media (max-width: 797px ) {
    #entreprise .mobile {
        display: none;
    }

    #entreprise svg {
        display: flex;
        justify-content: flex-end;
        font-size: 120%;
        width: 50px;
        height: 50px;
        margin-left: 50px;
        color: rgb(54, 52, 52);
    }

    #entreprise .prio {
        margin-left: 50px;
    }

    #entreprise .basic:hover {
        border-bottom: 4px solid #ffffff;
        
    }

}
