#Prestations {
    text-align: center;
    margin-top: 160px;
    margin-left: 10%;
    margin-right: 10%;
}

#Prestations h2 {
    margin-bottom: 20px;
    font-size: 360%;
    border-bottom: 4px solid #79a7d3;
    display: inline-block;
    padding-bottom: 50px;
    margin-bottom: 100px;
}

#presta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    width: 100%;
}

.ligne {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 80px;
    flex-wrap: wrap;
    gap: 20px;
}


.ligne .prestation {
    width: 350px;
    height: 600px;
    border: 1px solid rgb(115, 112, 112);
    box-shadow: 0 5px 5px 8px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    overflow: hidden;
    transition: 0.2s linear;
    background-color: white;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ligne .prestation:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 10px 1px #aa5ba1;
}

.prestation img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.prestation .image-container {
    width: 100%;
    height: 250px;
    background-image: url('../file_assets/lampe.png');
    background-size: cover;
    background-position:center-bottom;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px; 
}

.product .product-name {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 60px;
    margin-bottom: 40px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}


.prestation .description p {
    display: flex;
    align-items: center;
    margin-top: 90px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    font-size: 0.8rem;
    height: 50px;
    
}

.prestation .price_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 85px;
    font-weight: bold;
}



/* ********************* */

/* CSS Pressothérapie */

.ligne .prestation_press {
    width: 350px;
    height: 700px;
    border: 1px solid rgb(115, 112, 112);
    box-shadow: 0 5px 5px 8px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    overflow: hidden;
    transition: 0.2s linear;
    background-color: white;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ligne .prestation_press:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 10px 1px #aa5ba1;
}

.prestation_press img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.prestation_press  .image-container {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center-bottom;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.product_press  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px; 
}

.product_press .product_name_press {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 60px;
    margin-bottom: 40px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}


.prestation_press .description p {
    display: flex;
    align-items: center;
    margin-top: 90px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    font-size: 0.8rem;
    height: 50px;
    
}

.prestation_press .price_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 120px;
    font-weight: bold;
}

/* fin CSS Pressothérapie */

/* ********************* */

/* CSS lampe */

.ligne .prestation_lampe {
    width: 350px;
    height: 700px;
    border: 1px solid rgb(115, 112, 112);
    box-shadow: 0 5px 5px 8px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    overflow: hidden;
    transition: 0.2s linear;
    background-color: white;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ligne .prestation_lampe:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 10px 1px #aa5ba1;
}

.prestation_lampe img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.prestation_lampe  .image-container {
    width: 100%;
    height: 250px;
    background-image: url('../file_assets/lampe.avif');
    background-size: cover;
    background-position: center-bottom;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.product_lampe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px; 
}

.product_lampe .product_name_lampe {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 60px;
    margin-bottom: 40px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}


.prestation_lampe .description p {
    display: flex;
    align-items: center;
    margin-top: 90px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    font-size: 0.8rem;
    height: 100px;
    
}

.prestation_lampe .price_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 120px;
    font-weight: bold;
}

/* fin CSS lampe */

/* ********************* */


@media (max-width: 700px) {

    #Prestations h2 {
        font-size: 50px;
    }
}

@media (max-width: 500px) {

    #Prestations {
        margin-left: 2%;
        margin-right: 2%;
    }

    #Prestations h2 {
        font-size: 40px;
    }
}


@media (max-width: 417px) {

    #Prestations h2 {
        font-size: 30px;
    }
}





