    #allprestation {
        text-align: center;
        margin-top: 160px;
        margin: 0 auto;
        width: 100%;
    }

    #allprestation h2 {
        margin-bottom: 20px;
        font-size: 360%;
        border-bottom: 4px solid #79a7d3;
        display: inline-block;
        padding-bottom: 50px;
        margin-bottom: 100px;
    }

    #prestation {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .wrapper {
        width: 90%;
    }

    .ligne {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 80px;
        flex-wrap: wrap;
    }

    .ligne .container-all {
        width: 400px;
        height: 350px;
        margin-left: 5px;
        margin-right: 5px;
        /* border: 1px solid rgb(0, 0, 0, 0); */
        box-shadow:  20px 20px 60px #bebebe,-20px -20px 60px #ffffff;
        border-radius: 50px;
        overflow: hidden;
        transition: 0.2s linear;
        background-color: white;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    
    .card-container {
        width: 400px;
        height: 350px;
        position: relative;
        border-radius: 10px;
    }
    
    .card-container::before {
        content: "";
        z-index: -1;
        position: absolute;
        inset: 0;
        filter: blur(20px);
    }
    
    .card1 {
        width: 100%;
        height: 100%;
        border-radius: inherit;
        overflow: hidden;
    }
    
    .card-title {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 20px;
        background-color: rgba(142, 28, 128, 0.4);
        padding: 5px 10px;
        border-radius: 8px;
        text-align: center;
        z-index: 1;
        pointer-events: none;
        width: 250px;
    }
    
    
    .card1 .img-content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: scale 0.6s ease-in-out;
    }
    
    .card1 .img-content img {
        width: 400px;
        height: 350px;
        fill: #212121;
    }

    .card1 .image-content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: scale 0.6s ease-in-out;
    }

    .card1 .image-content img {
        width: 500px;
        height: 400px;
        fill: #212121;
    }
    
    .card1 .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        color: #e8e8e8;
        padding: 20px 24px;
        line-height: 1.5;
        border-radius: 5px;
        opacity: 0;
        pointer-events: none;
        
    }
    
    .card1 .content .heading {
        font-size: 32px;
        font-weight: 700;
        background-color: rgba(142, 28, 128, 0.3);
        border-radius: 10px;
    }

    .card1 .content .texte {
        background-color: rgba(142, 28, 128, 0.3);
        border-radius: 10px;
        color: rgb(255, 255, 255);
        font-size: 19px;
        
    }

    .card1 .content .texte-grand {
        background-color: rgba(142, 28, 128, 0.3);
        border-radius: 10px;
        color: rgb(255, 255, 255);
        font-size: 17px;
        
    }

    .card1 .content .texte-grand2 {
        background-color: rgba(142, 28, 128, 0.3);
        border-radius: 10px;
        color: rgb(255, 255, 255);
        font-size: 15px;
        
    }
    
    .card1:hover .content {
        opacity: 1;
    }
    
    .card1:hover .img-content {
        scale: 1.2;
        filter: blur(5px);
    }
    
    .card1:hover .img-content img {
        fill: transparent;
    }

    .card1:hover .image-content {
        scale: 1.2;
        filter: blur(5px);
    }
    
    .card1:hover .image-content img {
        fill: transparent;
    }

    .img-content {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    .details {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 16px;
        background-color: rgba(142, 28, 128, 0.4);
        padding: 5px 10px;
        border-radius: 8px;
        text-align: center;
        z-index: 1;
        pointer-events: none;
    }
    
    
    .img-content img {
        width: 100%;
        height: auto;
        display: block;
    }

    .details-enfant {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 16px;
        background-color: rgba(142, 28, 128, 0.4);
        padding: 5px 10px;
        border-radius: 8px;
        text-align: center;
        z-index: 1;
        pointer-events: none;
        width: 250px;
    }

    .card1:hover .details, 
    .card1:hover .details-enfant,
    .card1:hover .card-title {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}