    .wrapper {
        width: 1140px;
    }
    .ligne {
        display: flex;
        justify-content: space-evenly;
    }
    .ligne .prestation {
        width: 250px;
        height: 300px;
        border: 1px solid black;
        box-shadow: 0 5px 10px 1px;
        border-radius: 8px;
        overflow: hidden;
        transition: 0.2s linear;
        background-color: white;
    }
    .ligne .prestation:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 10px 1px;
    }
    .ligne .prestation .image {
        overflow: hidden;
        height: 150px;
        background: url("https://images.pexels.com/photos/3670580/pexels-photo-3670580.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-position: center;
        background-size: cover;
    }
    .product {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px; 
    }
    .product .product-name {
        padding-left: 10px;
        font-weight: bold;
    }
    .prestation .description {
    
    }
    .prestation .description p {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 5px 10px 0 10px;
        font-size: 0.8rem;
        height: 50px;
    }
    .prestation .price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }
    .prestation .price div .price {
        margin-left: 10px;
        padding: 5px 10px;
        font-weight: bold;
        text-decoration: line-through;
        background-color: rgb(255, 255, 255);
        color: #ff2323;
        border-radius: 5px;
    }
    .prestation .price button {
        margin-right: 10px;
        padding: 5px 10px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        /* color: white; */
        box-shadow: 0 0 2px 1px black;
        transition: 0.25s;
    }
    .prestation .price button:hover {
        box-shadow: 0 0 10px 1px black;
    }
    /* @media only screen and (max-width: 900px) {
        .row {
        flex-wrap: wrap;
        box-sizing: border-box;
    }
    body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    } */