    #allprestation {
        text-align: center;
        margin-top: 160px;
        margin: 0 auto;
        width: 100%;
    }

    #allprestation h2 {
        margin-bottom: 20px;
        font-size: 360%;
        border-bottom: 4px solid #79a7d3;
        display: inline-block;
        padding-bottom: 50px;
        margin-bottom: 100px;
    }

    #prestation {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .wrapper {
        width: 90%;
    }

    .ligne {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 80px;
        flex-wrap: wrap;
    }

    .ligne .container-all {
        width: 550px;
        height: 450px;
        margin-left: 5px;
        margin-right: 8px;
        border: 1px solid rgb(115, 112, 112);
        box-shadow: 0 5px 5px 8px rgba(0, 0, 0, 0.2);
        border-radius: 30px;
        overflow: hidden;
        transition: 0.2s linear;
        background-color: white;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    
    .card-container {
        width: 600px;
        height: 500px;
        position: relative;
        border-radius: 10px;
    }
    
    .card-container::before {
        content: "";
        z-index: -1;
        position: absolute;
        inset: 0;
        filter: blur(20px);
    }
    
    .card1 {
        width: 100%;
        height: 100%;
        border-radius: inherit;
        overflow: hidden;
    }
    
    .card1 .img-content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: scale 0.6s ease-in-out;
    }
    
    .card1 .img-content img {
        width: 500px;
        height: 400px;
        fill: #212121;
    }
    
    .card1 .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        color: #e8e8e8;
        padding: 20px 24px;
        line-height: 1.5;
        border-radius: 5px;
        opacity: 0;
        pointer-events: none;
    }
    
    .card1 .content .heading {
        font-size: 32px;
        font-weight: 700;
    }
    
    .card1:hover .content {
        opacity: 1;
    }
    
    .card1:hover .img-content {
        scale: 1.2;
        filter: blur(5px);
        
    }
    
    .card1:hover .img-content img {
        fill: transparent;
    }
    